<div class="container-fluid bg-light">
    <div class="container">
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Repo" aria-label="Search">
            <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
        </form>
        <div *ngIf="repoitems" >
            <div class="card" *ngFor='let item of repoitems'>
                <div class="card-body">
                    <p><strong>Description:</strong> {{ repo.description }}</p>
                    <p><strong>Language:</strong> {{ repo.language }}</p>
                </div>
            </div>

        </div>

    </div>
</div>