<div class="container mt 3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header secondary text-white">
                    <h4>Github User Search</h4>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="github user">
                        </div>
                        <div>
                            <input type="submit" value="submit" class="btn btn-secondary btn-sm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ user.avatar_url }}" alt="profile" width="200px" />
        </div>
        <div class="col-md-4 card-body">
            <h4><strong> Name:</strong> {{ user.name }}</h4>
            <hr>
            <h5><strong>created:</strong> <a href="/">{{user.created_at}}</a></h5>
            <hr>
            <h5><strong>bio:</strong> <a href="/">{{user.bio}}</a></h5>
            <hr>
            <h5><strong>location:</strong> {{ user.location }}</h5>
            <hr>
            <h5><strong>login:</strong> {{ user.login }}</h5>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Repositories</h3>
        </div>
        <div class="panel-body" *ngfor="let repo of repos">
            <p>{{ repo.description }}</p>
        </div>
    </div>
</div>
